/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #f2e2d2;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header .logo {
  width: 100px;
  margin-right: 20px;
}

header h1 {
  font-size: 2.5em;
  color: #5a3d31;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin-left: 20px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #5a3d31;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #f2e2d2; /* Efek hover dengan warna cream */
  border-radius: 5px;
}

/* Section Home */
#home {
  background-image: url("image/bg.jpeg"); /* Ganti dengan nama file gambar makanan yang kamu miliki */
  background-size: cover; /* Menyesuaikan gambar agar menutupi seluruh area */
  background-position: center center; /* Memastikan gambar di posisi tengah */
  color: white; /* Menambahkan warna teks putih agar kontras dengan gambar */
  padding: 100px 0; /* Memberikan jarak atas dan bawah pada konten */
  text-align: center;
}

/* Menyesuaikan tampilan teks di dalam Home */
#home h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan untuk teks agar lebih terlihat */
}

#home p {
  font-size: 1.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan pada paragraf */
}

/* Section */
section {
  padding: 40px 0;
  background-color: #fff;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #5a3d31;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h3 {
  font-size: 1.5em;
  color: #5a3d31;
}

.menu-item p {
  font-size: 1.2em;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f2e2d2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #e1c4a2;
}

/* Footer */
footer {
  text-align: center;
  background-color: #f2e2d2;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
